<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Eventos</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
		<h1>Detalhes do evento</h1>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Evento</span>
						<p>
							<strong>Id: </strong><Span th:text="${evento.id}"></Span>
						</p>
						<p>
							<strong>Nome: </strong><Span th:text="${evento.nome}"></Span>
						</p>
						<p>
							<strong>Local: </strong><Span th:text="${evento.local}"></Span>
						</p>
						<p>
							<strong>Data: </strong><Span th:text="${evento.data}"></Span>
						</p>
						<p>
							<strong>Horário: </strong><Span th:text="${evento.horario}"></Span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Adicionar Convidado:</span>
						<form th:action="@{/eventos/{idEvento}(idEvento=${evento.id})}" method="post">
							<div>
								<input type="hidden" name="id" th:value="${convidado.id}">
							</div>
							<div>
								<label>Nome: </label> <input type="text" name="nome" th:value="${convidado.nome}">	
							</div>
							<div>
								<label>RG: </label> <input type="number" name="rg" th:value="${convidado.rg}">
							</div>
							<div>
								<button class="waves-effect waves-light btn" type="submit">Salvar</button>
								<button class="waves-effect waves-light btn" type="reset">Limpar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Convidados:</span>
						<table class="highlight">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nome</th>
									<th>Rg</th>
									<th>
							<tbody>
								<tr th:each="c : ${convidados}">
									<td th:text="${c.id}"></td>
									<td th:text="${c.nome}"></td>
									<td th:text="${c.rg}"></td>
									<td>
									<a th:href="@{/eventos/{idEvento}/convidados/{idConvidado}/selecionar(idEvento=${evento.id}, idConvidado=${c.id})}"><i class="material-icons">edit</i></a>
									<a th:href="@{/eventos/{id}/removerC(id=${c.id})}"><i class="material-icons">delete</i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>